@media only screen and (max-width: 600px) {
 
  .content-1 {
    padding: 20px;
  }
  .content-1 h2, .content-1 h3 {
    font-size: 1.2em;
  }
  .content-1 p, .content-2 h1 {
    font-size: 0.7rem;
  }
  .content-2 {
      padding: 20px 50px;
    }
  .content-2 img {
      width: 100%;
    }
  .content-2 p {
      font-size: 0.7rem;
    }
  .content-3 {
      padding: 20px 50px;
    }
  .content-3 h1 {
      font-size: 1.5rem;
    }
  .content-3 ul, .content-3 li, .content-3 p {
      font-size: 0.7rem;
    }
  .content-4 {
      padding: 20px 50px;
    }
    

}


.content-1 {

  padding: 50px;
  text-align: center;
  color: #4b5862;
  margin-bottom: 50px;
  background-color: aliceblue;
}
.content-1 h2 {
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}
.content-1 h3 {
  font-size: 1.4em;
  margin: 30px 0 10px 0;
  color: #1f3f5b;
  line-height: 1.7rem;
  font-weight: 600;
}
.content-1 p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.content-1 button {
  background-color: #1f3f5b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.content-1 button:hover {
  background-color: #4b5862;

}
.content-2 {
  padding: 50px 100px;
  text-align: center;
  color: #4b5862;
  margin-bottom: 50px;
}
.content-2 img{
  width: 50%;
  height: 50%;

}
.content-2 h2 {
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}
.content-2 h1 {
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}

.content-3 {
  padding: 50px 100px 50px;
  text-align: center;
  background-color: antiquewhite;
  margin-bottom: 50px;
}
.content-3 h2 {
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}

.content-3 ul{
  list-style: circle;
}
.content-3 p a{
  text-decoration: none;
  color: #4b5862;
}
.content-3 li{
  font-size: 1.2rem;
  margin: 20px 0;
  color: #1f3f5b;
  font-weight: 6000;
  line-height: 1.5rem
}
.content-3 p:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.content-3 p a:hover{
  color: #53AAD5;
  text-decoration: none;
  font-weight: bold;

}