@media only screen and (max-width: 768px) {
  /* styles à appliquer lorsque la largeur de l'écran est inférieure à 768px */
  .content-1 {
    padding: 20px;
  }
  .content-1 h2 {
    font-size: 1.2em;
  }
  .content-1 h3 {
    font-size: 1.2em;
  }
  .content-1 p {
    font-size: 0.7rem;
  }
  .content-2 {
    padding: 20px;
  }
  .content-2 {
      padding: 20px 50px;
    }
  .content-2 h1 {
      font-size: 1.5rem;
    }
  .content-2 p {
      font-size: 0.7rem;
    }
  .content-3 {
      padding: 20px 50px;
    }
  .content-3 h1 {
      font-size: 1.5rem;
    }

  .content-3 p {
      font-size: 0.7rem;
    }
  .content-3 ul {
      font-size: 0.7rem;
    }
}


.content-1 {

  padding: 50px;
  text-align: center;
  color: #4b5862;
  margin-bottom: 50px;
  background-color: #998446;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;;
}
.content-1 h2 {
  font-size: 1.5em;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}
.content-1 h3 {
  font-size: 1.4em;
  margin: 30px 0 10px 0;
  color: #1f3f5b;
  line-height: 1.7rem;
  font-weight: 600;
}
.content-1 p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
.content-1 button {
  background-color: #1f3f5b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}
.content-1 button:hover {
  background-color: #4b5862;

}
.content-2 {
  padding: 50px 100px;
  text-align: center;
  color: #4b5862;
  margin-bottom: 50px;
  background-color: #97E6D2;


}
.content-2 h1 {
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}
.content-2 p {
  letter-spacing: 1px;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: lighter;
}
#team-skills {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 50px ;
}

#team-skills h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
#team-skills h3 {
  font-size: 1.2em;
  margin: 5%;
  color: #1f3f5b;
}

#team-skills ul {
  list-style: none;
  padding: 0;
}

#team-skills li {
  display: inline-block;
  margin: 0 1em;
  padding: 0.5em;
  font-size: 1.5em;


}
.content-3 {
  padding: 50px 100px 50px;
  text-align: center;
  color: white;
  background-color:#E6CC80;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;;
}
.content-3 h1 {
  font-size: 2rem;
  margin-top: -130px;
}

.content-3 ul{
  list-style: circle;
  margin: 0;
  padding: 0;
}
.content-3 p a{
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  line-height: 1.5rem;
  font-weight: lighter;
  list-style: inside;
  color: white;
  text-decoration: none;
}
.content-3 p a:hover{
  color: #53AAD5;
  text-decoration: none;
  font-weight: bold;
}