footer {
    /* On le positionne fixe */
    bottom:0;  /* on le colle en bas */
    width:100%;
    height: 100px;

    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;


 }
#footer-lieu{
    flex: left;
    width: 33%;
    text-align: center; 
    
}
#footer-lieu a{

    text-decoration: none;
    color: black;
    width: 33%;
    height: 100%;
    padding: 10px;
}
#footer-contact{
    flex: right;
    width: 33%;
    text-align: center; 
    
}
#footer-contact a{
    color: black;
    text-decoration: none;
    width: 33%;
    height: 100%;
    padding: 30px;
}

.modal {
visibility: hidden;
position: absolute;
top: 0; right: 0;
bottom: 0; left: 0;
display: flex;
align-items: center;
justify-content: center;
background: rgba(0, 0, 0, 0.18);
transition: all .4s;
}
.modal:target {
visibility: visible;
opacity: 10;
}
.modal_content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: white;
    padding: 1.5em 2em;
    text-align: center;


}
.modal_content-a{
    text-decoration: none;
    color: black;
    width: 33%;
    height: 100%;
    padding: 10px;
}

.modal_close {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: grey;
    text-decoration: none;
    }


@media screen and (max-width: 600px) {
    .modal{
        display: block;
    }
    .modal_content {
        width: 90%;
    }

}