#offreemploi{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 50px;
}
.descriptionoffre{
    padding-left: 25px;
    font-size: 1.2rem;
    margin: 20px 0;
}
.soustitre{

    text-decoration: underline;
}
.titreoffre{
    text-decoration: underline;
}
.postdoctoral{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0;
}
.typeoffre{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0;
}
.thesecifre{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0;
}
.txtoffre{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 20px 0;
    text-align: center;
}