<<<<<<< Updated upstream
.partenaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
.titrepartenaire{
  text-align: center;
}
.nationaux1{
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex-wrap: wrap;
}
.nationaux2{
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.partenaire h2{
    font-size: 1.5em;
    margin: 50px 0;
    color: #1f3f5b;
    font-weight: 600;
}
.partenaire img {
        width: 175px;
        height: 175px;
        margin: 10px;
        transition: 0.5s;
}
.partenaire img:hover {
        transform: scale(1.1);
        transition: 0.5s;
}

.internationaux {
=======
@media only screen and (max-width: 768px) {
    .partenaire {
      width: 100%;
      height: auto;
    }
  
    h2 {
      font-size: 1.5rem;
      margin: 25px 0;
    }
  
    .partenaire .universitebretagne img, .malakoffmederic img, .ecr img, .kardham img, .castel img, .acome img, .generix img, .thales img, .universiteMVR img, .enis img, .thales img {
      width: 50%;
      height: auto;
    }
    .partenaire p{
      font-size: 10px;
    }
    .partenaire .keywords span {
      font-size: 8px;
    }

}
  
.partenaire{
    width: 50%;
    height: 50%;
    
    background-color: #fff;
>>>>>>> Stashed changes
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
<<<<<<< Updated upstream
    margin: 50px 0;
  
    font-weight: 600;
    margin-top: 20px;
    padding: 0 20px;
    align-items: center;
}

.universitebretagne{
  margin: 25px;
}
.malakoffmederic{
  margin: 25px;
}
.ecr{
  margin: 25px;
}

.kardham{
  margin: 25px;
}

.castel{
  margin: 25px;
}
.acome{
  margin: 25px;
}
.generix{
  margin: 25px;
}
.thales{
  margin: 25px;
}
.enis{
  padding: 100px;
}
.universiteMVR{
  padding: 100px;
}
.internationaux img{
  width: 150px;
  height: 150px;
}

.tag1{
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  scale: 0.6;
}
.tag:hover {

  transform: scale(1.1);
  transition: 0.5s;
}
.tag2{
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  scale: 0.6;
}
.tag2:hover {

  transform: scale(1.1);
  transition: 0.5s;
}

.tag3{
  background-color: grey;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  scale: 0.6;
}
.tag3:hover {

  transform: scale(1.1);
  transition: 0.5s;
=======
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 50px;




}
h2 {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
  color: #1f3f5b;
  font-weight: 600;
}

.partenaire .universitebretagne, .malakoffmederic, .ecr, .kardham, .castel, .acome, .generix, .thales, .universiteMVR, .enis, .thales{
   
    padding-top: 50px;
    padding-bottom: 50px;

} 
.partenaire .universitebretagne img, .malakoffmederic img, .ecr img, .kardham img, .castel img, .acome img, .generix img, .thales img, .universiteMVR img, .enis img, .thales img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.partenaire .universitebretagne:hover, .malakoffmederic:hover, .ecr:hover, .kardham:hover, .castel:hover, .acome:hover, .generix:hover, .thales:hover, .universiteMVR:hover, .enis:hover, .thales:hover{
    transform: scale(1.15);
    transition: all 0.7s ;

}

.partenaire .keywords{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: black;
    
}
.partenaire .keywords span{
    font-size: 10px;
    color: white;
    background-color: #777;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px;

}
.nationaux{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    overflow: visible;
}
.internationaux{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    overflow: visible;
>>>>>>> Stashed changes
}